<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.x.integration/menu.application.title" opened="true">
        <item view="INTEG_User.list" title="msg://com.x.integration.view.user/UserListView.title"/>
    </menu>

</menu-config>